PORT=4000
FRONTEND_URL=http://localhost

MONGO_ROOT_USER=careplus_admin
MONGO_ROOT_PASSWORD=change-me-strong-password
MONGODB_URI=mongodb://careplus_admin:change-me-strong-password@127.0.0.1:27017/careplus?authSource=admin

NEXT_PUBLIC_API_URL=http://localhost/api/v1

JWT_SECRET=change-me-in-production-min-32-chars-at-least-48-chars
JWT_ACCESS_SECRET=change-me-access-min-32-chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
